@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Manage")" title="Profile" class="nav-link">Profile <i class="fa-solid fa-user"></i></a>
                @*@Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })*@
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log out <i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li><h5><b>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</b></h5></li>
        <li><h5><b>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</b></h5></li>
    </ul>
}
